<%= form_with(model: inventory) do |form| %>
  <% if inventory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% inventory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :item, style: "display: block" %>
    <%= form.collection_select :item, Item.all, :id, :name, prompt: true, selected: @inventory.new_record? ? nil : @inventory.item.id %>
  </div>

  <div>
    <%= form.label :character, style: "display: block" %>
    <%= form.collection_select :character, Character.all, :id, :name, prompt: true, selected: @inventory.new_record? ? nil : @inventory.character.id %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div class="flex justify-center">
    <%= form.submit nil, class:"green-button mt-2" %>
  </div>
<% end %>
