<%= render 'gameplays/nav_header'%>

<h1>Inventories</h1>

<div id="inventories">
  <% @inventories.each do |inventory| %>
    <%= render inventory %>
    <p>
      <%= link_to "Show #{inventory.item.name} in #{inventory.character.name}\'s inventory", inventory %>
    </p>
  <% end %>
</div>
<div>
<%= link_to "New inventory", new_inventory_path %>
</div>

<%= link_to "Back", root_path %>
