<nav class="flex flex-col justify-center align-center items-center gap-2">
  <div class="flex flex-row justify-center align-center gap-2">
    <%= button_to "Home", root_path, class: "button-b", method: :get %>
    <%= button_to "Town", town_path, class: "button-b", method: :get %>
    <%= button_to "Inventory", character_inventory_path(@current_user), class: "button-b", method: :get %>
    <%= button_to "Shopping list", player_shopping_list_path, class: "button-b", method: :get %>
    <%= button_to "Budget", underconstruction_path, class: "button-b", method: :get %>
    <%= button_to "Move to the next day", advance_day_path, method: :post, class: "button-b" %>
  </div>
  <p><%= ExpensesHelper.display_today_expense_for_character(@current_user) %></p>
  <p><%= ExpensesHelper.display_this_week_expense_for_character(@current_user) %></p>
  <p><%= TimeAdvancementHelper.display_current_time_for_character(@current_user) %></p>
</nav>