<%= stylesheet_link_tag "application" %>

<% if flash[:notice] %>
    <div class="hermitfont bg-green-100 border bg-g border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <p><%= notice %></p>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="hermitfont bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <p><%= alert %> </p>
    </div>
<% end %>

<div class="min-h-screen flex flex-col">
    
    <%= render 'nav_header'%>

    <div class = "flex-grow flex flex-col justify-center items-center">
        <h1 class="center-text text-4xl py-4">Hello <%=@current_user.name%>!</h1>
        <div class="flex flex-row justify-center py-4">
            <%= button_to "Start", town_path, class: "hermitfont blue-button", method: :get %>
        </div>
    </div>
</div>