<%= stylesheet_link_tag "application" %>


<p style="color: green"><%= notice %></p>

<h1 class="center-text nicefont">Hello player!</h1>

<div>
  <%= button_to "Home", root_path, class: "button-b", method: :get %>
  <%= button_to "Town", town_path, class: "button-b", method: :get %>
  <%= button_to "Inventory", character_inventory_path(Player.first), class: "button-b", method: :get %>
  <%= button_to "Shopping list", underconstruction_path, class: "button-b", method: :get %>
  <%= button_to "Budget", underconstruction_path, class: "button-b", method: :get %>
</div>


<%= button_to "Start", town_path, class: "button-b", method: :get %>
