<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'town', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<p style="color: green"><%= notice %></p>
<%= render 'nav_sidebar' %>
<div class="welcome-banner">
  <h1 class = "center-text nicefont">Welcome to Town <%=@player_level%>!</h1>
</div>
<div id="non_players">
  <% @nonplayers.each do |nonplayer| %>
    <% container_id = "#{nonplayer.name.downcase}_image_container" %>
      <div id="<%= container_id %>" class="nonplayer-container">
        <%= link_to character_profile_path(nonplayer), class: "nonplayer-link" do %>
          <img id="<%= nonplayer_img_tag(nonplayer) %>" src="<%= asset_path(nonplayer_gif_file(nonplayer)) %>" alt="<%= nonplayer.name %>">
          <h3 class = "nicefont"><%= nonplayer.name %></h3>
        <% end %>
      </div>
  <% end %>
</div>

</body>
<%= button_to "Back", root_path, class: "button-b", method: :get %>
