<%= form_with(model: nonplayer) do |form| %>
  <% if nonplayer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nonplayer.errors.count, "error") %> prohibited this nonplayer from being saved:</h2>

      <ul>
        <% nonplayer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :personality, style: "display: block" %>
    <%= form.text_field :personality %>
  </div>

  <div>
    <%= form.label :dialogue_content, style: "display: block" %>
    <%= form.text_area :dialogue_content %>
  </div>

  <div>
    <%= form.label :item_to_accept, style: "display: block" %>
    <%= form.number_field :item_to_accept %>
  </div>

  <div>
    <%= form.label :quantity_to_accept, style: "display: block" %>
    <%= form.number_field :quantity_to_accept %>
  </div>

  <div>
    <%= form.label :item_to_offer, style: "display: block" %>
    <%= form.number_field :item_to_offer %>
  </div>

  <div>
    <%= form.label :quantity_to_offer, style: "display: block" %>
    <%= form.number_field :quantity_to_offer %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
