<div id="<%= dom_id nonplayer %>">
  <p>
    <strong>Name:</strong>
    <%= nonplayer.name %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= nonplayer.occupation %>
  </p>

  <p>
    <strong>Inventory slots:</strong>
    <%= nonplayer.inventory_slots %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= nonplayer.balance %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= nonplayer.type %>
  </p>
  
  <p>
    <strong>Personality:</strong>
    <%= nonplayer.personality %>
  </p>

  <p>
    <strong>Dialogue content:</strong>
    <%= nonplayer.dialogue_content %>
  </p>

  <p>
    <strong>Item to accept:</strong>
    <%= nonplayer.item_to_accept.name %>
  </p>

  <p>
    <strong>Quantity to accept:</strong>
    <%= nonplayer.quantity_to_accept %>
  </p>

  <p>
    <strong>Item to offer:</strong>
    <%= nonplayer.item_to_offer.name %>
  </p>

  <p>
    <strong>Quantity to offer:</strong>
    <%= nonplayer.quantity_to_offer %>
  </p>

</div>
