<p style="color: green"><%= notice %></p>

<%= render 'gameplays/nav_header'%>

<h1>Nonplayers</h1>

<div id="nonplayers">
  <% @nonplayers.each do |nonplayer| %>
    <%= render nonplayer %>
    <p>
      <%= link_to "Show this nonplayer", nonplayer %>
    </p>
  <% end %>
</div>

<%= link_to "New nonplayer", new_nonplayer_path %>
