<h1>World <%= @tutorial_level %></h1>
<% if @tutorial_level == 1 %>
  <% if @page == 1 %>
    <%= @page %>
  <% elsif @page == 2 %>
    <%= @page %>
  <% else %>
    <%= @page %>
  <% end %>
<% elsif @tutorial_level == 2 %>
  <% if @page == 1 %>
    <%= @page %>
  <% elsif @page == 2 %>
    <%= @page %>
  <% else %>
    <%= @page %>
  <% end %>
<% else %>
  Good luck :p
<% end %>
<br>
<%= button_to 'Next', tutorial_path(page: @page + 1), class: "button-b", method: :get if @page < 4%>
<%= button_to 'Back', tutorial_path(page: @page - 1), class: "button-b", method: :get if @page > 1 %>
<%= button_to 'Exit', root_path, class: "button-b", method: :get %>