<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= character.occupation %>
  </p>

  <p>
    <strong>Inventory slots:</strong>
    <%= character.inventory_slots %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= character.balance %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= character.type %>
  </p>

</div>
