<p style="color: green"><%= notice %></p>

<h1>Characters</h1>

<%= button_to 'Players', players_path, class: 'button', method: :get %>
<%= button_to 'Non-players', nonplayers_path, class: 'button', method: :get %>

<h2>Players</h2>
<div id="players">
  <% @characters.each do |character| %>
    <% if character.is_a?(Player) %>
      <%= render character %>
      <p>
        <%= button_to "Show this player", character, method: :get %>
      </p>
    <% end %>
  <% end %>
</div>

<h2>Non-players</h2>
<div id="non_players">
  <% @characters.each do |character| %>
    <% if character.is_a?(Nonplayer) %>
      <%= render character %>
      <p>
        <%= button_to "Show this non-player", character, method: :get %>
      </p>
    <% end %>
  <% end %>
</div>

<%= button_to "New character", new_character_path, method: :put %>
