<p style="color: green"><%= notice %></p>

<h1>Inventories</h1>

<div id="inventories">
  <% @inventories.each do |inventory_entry| %>
    <div>
      <p>
        <strong>Name:</strong>
        <%= inventory_entry.item.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= inventory_entry.item.description %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= inventory_entry.quantity %>
      </p>
    </div>

    <br>
  <% end %>
</div>

<%= button_to "Back", character_profile_path(@character), class: "button-b", method: :get %>
