<p style="color: green"><%= notice %></p>

<%= render 'gameplays/nav_header'%>

<h1 class = "center-text">Inventory</h1>

<div class="flex flex-wrap justify-center">
    <% @inventories.each do |inventory_entry| %>
    <div id="<%= dom_id inventory_entry %>" class="max-w-sm rounded shadow-lg p-6 m-2">
      <p>
        <strong>Name:</strong>
        <%= inventory_entry.item.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= inventory_entry.item.description %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= inventory_entry.quantity %>
      </p>
      
      <% if @level > 1 %>
        <p>
          <strong>Value:</strong>
          <%= inventory_entry.item.value %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
<div class = "flex justify-center items-center">
<%= button_to "Back", :back, class: "blue-button hermitfont mt-4", method: :get %>
</div>

