<div class="center-text nicefont">
<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= render 'gameplays/nav_header'%>

<h1> <%= @character.name %> </h1>
<%= button_to "Inventory", character_inventory_path(@character), class: "button-b", method: :get%>
<%= button_to "Trade", trade_path(@character), class: "button-b", method: :get%>
<div>
  <p>
    <strong>Name:</strong>
    <%= @character.name %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= @character.occupation %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= @character.balance %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= @character.personality %>
  </p>
</div>

</div>
<%= button_to "Back", town_path, class: "button-b", method: :get %>
