<div class = "nicefont">
<h1> Trade with <%= @character.name %> </h1>

<h2><%= @character.dialogue_content %></h2>
<div>
  <p>
    <strong>Item they are offering you:</strong>
    <%= @quantity_to_offer %> of <%= @item_to_offer %>(s)
  </p>

  <p>
    <strong>Item they are looking for from you:</strong>
    <%= @quantity_to_accept %> of <%= @item_to_accept %>(s)
  </p>

  <p>
    <strong>Balance:</strong>
    <%= @character.balance %>
  </p>
</div>

<%= button_to "Counter Offer", counter_offer_path(name: @character.name), class: "button-b", method: :get %>
<%= button_to "Yes", character_profile_path(@character), class: "button-g", method: :get %>
<%= button_to "No", character_profile_path(@character), class: "button-r", method: :get %>
</div>