<%= form_with(url: create_counter_offer_path(name: @context.name), method: :post) do |form| %>
  <div>
    <%= form.label :item_i_give_id, 'I give' %>
    <%= form.collection_select :item_i_give_id, Item.all, :id, :name, prompt: true %>
  </div>

  <div>
    <%= form.label :item_i_want_id, 'I want' %>
    <%= form.collection_select :item_i_want_id, Item.all, :id, :name, prompt: true %>
  </div>
  
  <!-- other form fields -->
  <%= form.submit %>
</div>
<% end %>

  