<!-- Container for Player's Inventory -->
<div id="<%= @context.player_character.name %>_inventory" class="inventory-container-co">
  <h2   style="font-weight: bold;"><%= @context.player_character.name %>'s Inventory</h2>
  <% @context.player_inventory.each do |item_name, quantity| %>
    <div id="player_inventory_<%= item_name %>"><%= item_name.capitalize %>: <%= quantity %></div>
  <% end %>
</div>

<!-- Container for NPC's Inventory -->
<div id="<%= @context.character.name %>_inventory" class="inventory-container-co">
  <h2 style="font-weight: bold;"><%= @context.character.name %>'s Inventory</h2>
  <% @context.npc_inventory.each do |item_name, quantity| %>
    <div id="npc_inventory_<%= item_name %>"><%= item_name.capitalize %>: <%= quantity %></div>
  <% end %>
</div>