<!-- app/views/counter_offer/show.html.erb -->
<%= render 'gameplays/nav_header' %>

<div class="nicefont">
  <h1>Trade with <%= @context.character.name %></h1>
  <h2><%= @context.character.dialogue_content %></h2>
  <div>
    <p>
      <strong>Balance:</strong>
      <%= @context.character.balance %>
    </p>
    <% if not @pref.nil? %>
      <p>
        <strong>Occupation Description:</strong>
        <%= @pref.description %>
      </p>
    <% end %>
  </div>

  <% if @context.character %>
    <% if @context.player_character.current_level != 1 %>
      <%= render partial: 'sinventory2' %>
    <% else %>
      <%= render partial: 'sinventory' %>
    <% end %>

    <% if @context.player_character.current_level != 1 %>
      <div class="button-group">
        <button class="button-b action-button" data-action="barter" style="margin-right: 10px;">Barter</button>
        <button class="button-b action-button" data-action="buy" style="margin-right: 10px;">Buy</button>
        <button class="button-b action-button" data-action="sell">Sell</button>
      </div>
    

    
    <div style="margin-top: 20px;">
      <%= form_with(url: create_counter_offer_path(id: @context.character.id), method: :post, local: true) do %>
    
        <div style="margin-bottom: 10px;">

          <div id="form-sections">
            <!-- Buy Section -->
            <div id="buy-section" class="form-section" style="display: none;">

              <div style="margin-bottom: 10px;">
                <%= label_tag :item_i_want_id, 'I want' %>
                <%= select_tag :item_i_want_id, options_from_collection_for_select(Item.all, :id, :name, selected: @context.character.item_to_accept_id), include_blank: true, id: 'item_i_want_select', data: { values: Item.pluck(:id, :value).to_h } %>    
              </div>

              <div style="margin-bottom: 10px;">
                <%= label_tag :quantity_i_want, 'Quantity I want' %>
                <%= number_field_tag :quantity_i_want, @context.character.quantity_to_offer, id: 'quantity_i_want_input' %>
              </div>

              <% Item.all.each do |item| %>
                <% quantity = @context.character.quantity_to_offer || 1 %>
                <% value = (@counter_offer_service.value_of(@context.character, item.id, quantity).to_f / quantity).ceil %>
                <span class="item-value" data-item-id="<%= item.id %>" data-value="<%= value %>"></span>
              <% end %>

              <div>
                <strong>Total price: $<span id="total_price">0</span></strong>
              </div>

            </div>

            <!-- Sell Section -->
            <div id="sell-section" class="form-section" style="display: none;">

              <div style="margin-bottom: 10px;">
                <%= label_tag :item_i_give_id, 'I give' %>
                <%= select_tag :item_i_give_id, options_from_collection_for_select(Item.all, :id, :name, selected: @context.character.item_to_offer_id), include_blank: true, id: 'item_i_give_select' %>
              </div>

              <div style="margin-bottom: 10px;">
                <%= label_tag :quantity_i_give, 'Quantity I give' %>
                <%= number_field_tag :quantity_i_give, @context.character.quantity_to_accept, id: 'quantity_i_give_input' %>
              </div>

              <% Item.all.each do |item| %>
                <% quantity = @context.character.quantity_to_accept || 1 %>
                <% value = (@counter_offer_service.value_of(@context.character, item.id, quantity).to_f / quantity).ceil %>
                <span class="item-value-sell" data-item-id="<%= item.id %>" data-value="<%= value %>"></span>
              <% end %>

              <div>
                <strong>Total price: $<span id="total_price_sell">0</span></strong>
              </div>

            </div>
            
            <!-- Barter Section -->
            <div id="barter-section" class="form-section" style="display: none;">

              <div style="margin-bottom: 10px;">
                <%= label_tag :item_i_give_id, 'I give' %>
                <%= select_tag :item_i_give_id, options_from_collection_for_select(Item.all, :id, :name, selected: @context.character.item_to_offer_id), include_blank: true %>
              </div>

              <div style="margin-bottom: 10px;">
                <%= label_tag :quantity_i_give, 'Quantity I give' %>
                <%= number_field_tag :quantity_i_give, @context.character.quantity_to_accept %>
              </div>

              <div style="margin-bottom: 10px;">
                <%= label_tag :item_i_want_id, 'I want' %>
                <%= select_tag :item_i_want_id, options_from_collection_for_select(Item.all, :id, :name, selected: @context.character.item_to_accept_id), include_blank: true %>
              </div>

              <div style="margin-bottom: 10px;">
                <%= label_tag :quantity_i_want, 'Quantity I want' %>
                <%= number_field_tag :quantity_i_want, @context.character.quantity_to_offer %>
              </div>

            </div>

          </div>

      
        </div>
    
        <div style="margin-bottom: 10px;">
          <%= submit_tag 'Offer' %>
        </div>
        
    <% end %>

    <% else %>
    <div style="margin-top: 20px;" class="hermitfont flex justify-center">
        <%= form_with(url: create_counter_offer_path(id: @context.character.id), method: :post, local: true) do %>
          <div class="card-display">
            <div class="mb-1">
              <%= label_tag :item_i_give_id, 'I give' %>
              <%= select_tag :item_i_give_id, options_from_collection_for_select(Item.all, :id, :name, selected: @context.character.item_to_accept_id), include_blank: true %>
            </div>
      
            <div class="mb-1">
              <%= label_tag :quantity_i_give, 'Quantity I give' %>
              <%= number_field_tag :quantity_i_give, @context.character.quantity_to_accept %>
            </div>
      
            <div class="mb-1">
              <%= label_tag :item_i_want_id, 'I want' %>
              <%= select_tag :item_i_want_id, options_from_collection_for_select(Item.all, :id, :name, selected: @context.character.item_to_offer_id), include_blank: true %>
            </div>
      
            <div>
              <%= label_tag :quantity_i_want, 'Quantity I want' %>
              <%= number_field_tag :quantity_i_want, @context.character.quantity_to_offer %>
            </div>
          </div>
      
          <div style="margin-bottom: 10px;" class="flex items-center justify-center py-4">
            <%= submit_tag 'Offer', class: "green-button mx-4" %>
            <%= button_to "Back", character_profile_path(@context.character), class: "blue-button", method: :get %>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>
    
      <%# Display flash messages %>
      <% if flash[:notice] %>
        <div class="success-notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
    
      <% if flash[:alert] %>
        <div class="error-notice">
          <%= flash[:alert] %>
        </div>
      <% end %>
    
    <% else %>
      <p>Character not found.</p>
    <% end %>
    
    <%= button_to "Back", character_profile_path(@context.character), class: "button-b", method: :get %>

    <script>
document.addEventListener('DOMContentLoaded', function() {
  const actionButtons = document.querySelectorAll('.action-button');
  const formSections = document.querySelectorAll('.form-section');

  function updateFormSection(action) {
    formSections.forEach(section => {
      if (section.id === action + '-section') {
        section.style.display = 'block';
      } else {
        section.style.display = 'none';
      }
    });
  }

  actionButtons.forEach(button => {
    button.addEventListener('click', function() {
      const action = this.getAttribute('data-action');
      updateFormSection(action);
    });
  });
});
</script>
