<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= player.occupation %>
  </p>

  <p>
    <strong>Inventory slots:</strong>
    <%= player.inventory_slots %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= player.balance %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= player.type %>
  </p>

  <p>
    <strong>Current level:</strong>
    <%= player.current_level %>
  </p>

</div>
