<div id="<%= dom_id shopping_list %>">
  <p>
    <strong>Item:</strong>
    <%= shopping_list.item.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= shopping_list.level %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shopping_list.quantity %>
  </p>

  <p>
    <strong>Status: </strong>
    <%= check_box_tag "checked_shopping_list_#{shopping_list.id}", 
                      '1',
                      shopping_list.item_obtained(Player.first), 
                      disabled: true %> 
  </p>

</div>
