<div id="<%= dom_id expense %>">
  <p>
    <strong>Frequency:</strong>
    <%= expense.frequency %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= expense.number %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= expense.item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= expense.quantity %>
  </p>

</div>
