<!DOCTYPE html>
<html>
  <head>
    <title>FinLitQuest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if defined? @current_user %>
      <div class="flex flex-row min-h-screen">
        <%= render 'gameplays/nav_sidebar' %>
        <div class="w-full">
          <div>
            <%= render 'gameplays/nav_header'%>
          </div>
          <main class="mt-4 h-[calc(100vh-84px-1rem-2px)]">
            <%= yield %>
          </main>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
